.all-the-team {
    background-color: #f4f4fd
}

.team-item {
    background-color: white;  
}
.team-member {
    text-align: center;
}
.expert {
    color: #434455;
    text-align: center;
   
}
.container {
    max-width: 1128px;
    align-items: center;
    margin: 0 auto;
    padding: 0 15px;
}